.Container {    
    margin-bottom: 100px; /* Height of bottom navigation */
    max-width: 900px!important;
    padding-left: 3%!important;
    padding-right: 3%!important;
}

.Title {
    font-size: 1.5em;
    font-weight: bold;    
    line-height: 1em;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0px;
}

.BackButton {
    padding-right: 10px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 1rem;
}

.App {	
	outline: 1px solid lightgray;
	max-width: 650px;
	margin: 0 auto;
}